/* General Layout */
.drawer {
  height: 100vh;
  overflow-y: auto;
  transition: width 0.3s ease-in-out;
  border-right: 1px solid #dee2e6;
}

.menu-drawer {
  transition: width 0.3s ease-in-out;
  border-right: 1px solid #dee2e6;
 
}
.menu-drawer.collapsed {
  width: fit-content;
}

.drawer.expanded {
  width: 250px;
}

.drawer.collapsed {
  width: 80px;
}
.drawer.hide {
  width: 0px;
}

.main-content {
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
}

/* Navbar Styling */
.navbar {
  position:sticky;
  top: 0;
  z-index: 1020;
}

.show-drawer {
  display: block;
  width: 250px; /* Customize as needed */
  transition: width 0.3s ease;
}

.hide-drawer {
  display: none;
}

.drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-button {
  border: 1px solid #000088 !important;
  color: #000088 !important;
}
.custom-button:hover {
  background-color: #000088 !important;
  color: white !important;
}

