<<<<<<< HEAD
/* General Layout */
.drawer {
  height: 100vh;
  overflow-y: auto;
  transition: width 0.3s ease-in-out;
  border-right: 1px solid #dee2e6;
}

.drawer.expanded {
  width: 250px;
}

.drawer.collapsed {
  width: 80px;
}

.main-content {
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
}

/* Navbar Styling */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1020;
}

=======
>>>>>>> 50bfa9cb4f2b8e8a1504ffb606b73b1864811018
